
.PlaylistPane {
    /* Display of Item */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    height: 100%;
    min-width: 225px;
    max-width: 260px;
    overflow-x: hidden;
    overflow-y: auto;

    /* Display of Children */
    gap: 0px;

    justify-content: flex-start;
}

.PlaylistPane:first-child {
    text-align: center;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #34303b;
    border: 3px solid transparent;
    border-radius: 20px;
    /* Default background extends under the border. This bounds bg to edge of padding box. */
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #99a5b5;
}