.PlaylistBuilder {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    padding: 5px 5px 0px 5px;
    
    overflow: hidden;
}

.PlaylistBuilder .new-playlist-info, .PlaylistBuilder .source-playlist-info, .PlaylistBuilder .submission-form-tracks-preview {
    display: flex;
    flex: 1 1 512px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* TODO: Buttons get pushed off-screen if height set to 100%. */
.PlaylistBuilder .playlists-window {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
    
}

.PlaylistBuilder .playlist-tiles-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.PlaylistBuilder .new-playlist-info .new-playlist {
    align-items: flex-end;
}

.PlaylistBuilder .filters-wrapper {
    display: flex;
    width: 618px;
    position: absolute;
}

.PlaylistBuilder .track-tiles {
    border: 5px solid black;
}

.PlaylistBuilder .buttons-wrapper {
    display: flex;
    justify-content: center;

    gap: 15px;
    position: sticky;
    bottom: 5px;
}

.PlaylistBuilder .buttons-wrapper button {
    color: var(--app-background-color);
    font-size: 110%;
    

    background-color: rgba(142, 252, 161, 1);
    box-shadow: 0 0 20px rgba(30, 215, 96, 0.2);

    width: 120px;
    height: 40px;

    border: solid #6D6D6D 1px;
    border-radius: 5px;
}

.PlaylistBuilder .buttons-wrapper button:nth-child(2) {
    background-color: rgb(252, 161, 142);
    box-shadow: 0 0 20px rgb(216, 97, 97, 0.2);
}

.PlaylistBuilder .buttons-wrapper button:nth-child(2):hover {
    box-shadow: 0 0 20px rgba(252, 160, 142, 0.474);
    transform: scale(1.02);

    transition: all 100ms ease-in-out;
}

.PlaylistBuilder .add-playlist-button:hover {
    box-shadow: 0 0 20px #8efca0a7;
    transform: scale(1.02);

    transition: all 100ms ease-in-out;
}