.CreatePlaylist {
    display: flex;
    flex-direction: column;

    max-width: 400px;
}

.CreatePlaylist .submission-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: var(--app-background-color);
    z-index: 10;
}

.CreatePlaylist .add-playlist-form {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.CreatePlaylist .add-playlist-form form {
    display: flex;
    margin: var(--tile-margin);
    flex: 1 1 0;
    gap: var(--tile-margin);
}

.CreatePlaylist .add-playlist-form form > * {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.CreatePlaylist input {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: var(--tile-margin);
    padding: 3px;
    border: none;
    border-radius: 3px;
}

.CreatePlaylist .submission-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.CreatePlaylist .submission-form-tracks-preview {
    display: flex;
    flex-direction: column;
}

/* Fades out everything else when adding new playlist. */
/* NOTE: Might be necessary to move all this logic to the Dancify pane to avoid issues with overflow / sizing. */
.CreatePlaylist .overlay-background {
    display: flex;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0; 
    z-index: 10;
    position: fixed;
}

.CreatePlaylist .submission-form-wrapper .buttons-wrapper {
    display: flex;
    justify-content: center;

    gap: 15px;
    position: sticky;
    bottom: 5px;
}

.CreatePlaylist .buttons-wrapper button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 110%;
    

    background-color: #8EFCA1;
    box-shadow: 0 0 12px #8efca0a7;

    width: 120px;
    height: 40px;

    margin: 10px;

    border: solid #6D6D6D 1px;
    border-radius: 5px;
}


.CreatePlaylist .buttons-wrapper .reset-button {
    background-color: rgb(216, 97, 97);
    box-shadow: 0 0 20px rgb(216, 97, 97, 0.2);
}

.CreatePlaylist .buttons-wrapper button:hover {
    transform: scale(1.02);

    transition: all 100ms ease-in-out;
}